@import "tailwindcss";

@theme {
    --letter-spacing-superwide: 15.0em;
    --letter-spacing-ultrawide: 0.8em;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}